<h2>Busqueda por Región <small> {{ regionActiva | titlecase }} </small> </h2>
<hr>
<h5>Seleccione la Region</h5>

<div class="row">

    <!-- [class.btn-primary] = "region === regionActiva" -->
    <!-- [ngClass] = "{
        'btn-primary': regionActiva === region,
        'btn-outline-primary': regionActiva !== region
    }" -->

    <div class="col">
        <button *ngFor = " let region of regiones "
                [class]= " getClaseCss(region) "   
                (click)= " activarRegion(region)">
            {{ region | titlecase}}
        </button>
    </div>
    
</div>
<hr><br>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <app-pais-tabla [paises]="paises"></app-pais-tabla>

    </div>
</div>
